In [1]:
from d2c.simulatedDAGs import SimulatedDAGs
from d2c.D2C import D2C

In [2]:
N_JOBS = 4

n_dags = 10
n_observations = 100
n_nodes = 10

In [3]:
simulated_dags = SimulatedDAGs(n_dags, n_observations, n_nodes, n_jobs=N_JOBS)
simulated_dags.generate_dags()

In [4]:
simulated_dags.simulate_observations()

In [5]:
d2c = D2C(simulated_dags, n_jobs=N_JOBS)
d2c.initialize()

In [ ]:
dataframe = d2c.get_df()
dataframe

     correlation  skewness_ca  skewness_ef     mean_diff  0
0      -0.356635     0.298824     0.626357  0.000000e+00  1
1      -0.356635     0.626357     0.298824  0.000000e+00  0
2       0.923428     1.126612     0.626357 -4.440892e-17  1
3       0.923428     0.626357     1.126612  4.440892e-17  0
4      -0.419773     1.126612     0.298824 -4.440892e-17  1
..           ...          ...          ...           ... ..
895    -0.391298     0.407746    -0.070434 -4.857226e-17  0
896     0.761185    -0.070434    -0.161566  6.106227e-17  1
897     0.761185    -0.161566    -0.070434 -6.106227e-17  0
898    -0.667206    -0.070434     0.863468  1.110223e-17  1
899    -0.667206     0.863468    -0.070434 -1.110223e-17  0

[9000 rows x 5 columns]

In [ ]:
score = d2c.get_score(metric="f1")
score

1.0